<%- include('includes/head.ejs') %>
<title>Password</title>
</head>
<body class="screen">
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <%- include('includes/body.ejs') %>
            </div>
            <div class="card-body">
                <form action="/register/complete-register" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" id="registerPassword" aria-describedby="Password"
                               placeholder="Password" name="password" maxlength="32" minlength="3" required>
                        <label for="registerPassword"></label>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" id="registerConfirmPassword" aria-describedby="Confirm password"
                               placeholder="Confirm password" name="confirmPassword" maxlength="32" minlength="3" required>
                        <label for="registerConfirmPassword"></label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-warning" id="registerButton">Register</button>
                    </div>
                </form>
                <div class="form-group text-center">
                    <a class="btn btn-light" href="/register" type="submit"><i class="fas fa-backward mx-1"></i>Back</a>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links text-white">
                    Already a member? <a href="/">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>